{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
    TEAOLOGY EXPENSES
{% endblock %}

{% block title %}
    PRODUCTS
{% endblock %}

{% block content %}
<!-- expenses/templates/expenses/marketing_list.html -->

    <h1>Marketing Expenses</h1>
    <table class="table">
        <tr>
            <th>Description</th>
            <th>Amount</th>
            <th>Date</th>
        </tr>
        {% for expense in expenses %}
        <tr>
            <td>{{ expense.description }}</td>
            <td>{{ expense.amount }}</td>
            <td>{{ expense.date }}</td>
        </tr>
        {% endfor %}
    </table>


{%endblock%}
